body {
  background-color: #ddd !important;
}

body.install {
  margin-top: 30px;
}

.hidden {
  display: none !important;
}

template {
  display: block !important;
}

.full.width {
  width: 100%;
}

#code-editor {
  width: 650px;
  height: 250px;
}

.code-editor-container {
  height: 300px;
}

.font-size-normal {
  font-size: 1rem;
}

.text-align-center {
  text-align: center;
}

.clear {
  clear: both;
}

.install .ui.red.segment {
  padding-bottom: 70px;
}

.install .ui.form {
  padding-bottom: 25px;
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html.ios,
html.ios body {
  height: initial !important;
}

.collapsible.item :hover {
  cursor: pointer;
}

.ui.pointing.menu .item:after {
  content: none !important;
}

.left.pointing.menu .toc.item {
  display: none;
}

.main-menu {
  margin-bottom: 15px !important;
}

body.pushable {
  background: #fff !important;
}

.ui.buttons.center.aligned {
  margin: 0 auto !important;
}

.ui.buttons .ui.button {
  margin-left: 5px !important;
}

.footer {
  margin-top: 15px !important;
}

.ui.buttons .ui.button:not(:first-child) {
  margin-left: 5px;
}

.center.aligned.item {
  text-align: center !important;
}

@media only screen and (max-width: 700px) {
  .ui.main-menu.menu {
    display: none !important;
  }
  .left.pointing.menu .item,
  .left.pointing.menu .menu {
    display: none;
  }
  .left.pointing.menu .toc.item {
    display: block;
  }
  .left-container {
    padding-top: 0 !important;
  }
  .left-container .menu {
    width: 100% !important;
    min-height: 3rem;
  }
  .sidebar.icon {
    float: left !important;
    display: block !important;
  }
  #main-container {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .tagsinput {
    width: 267px !important;
  }
  .index-nav {
    text-align: center !important;
  }
  .index-nav span {
    display: block;
    text-align: center;
  }
  .index-nav .ui.dropdown {
    width: 100% !important;
    padding: 5px;
    text-align: center;
  }
  .ace_editor {
    width: 300px !important;
  }
  .ui.message {
    font-size: 1.3rem;
  }
  .left.pointing.menu {
    font-size: 1.3rem !important;
  }
  .left.pointing.menu .toc.item {
    padding: 1rem !important;
  }
  .sidebar.menu.left {
    width: 100% !important;
    font-size: 1.3rem !important;
  }
  .pusher.dimmed {
    display: none !important;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
  #main-container {
    margin-left: 15px !important;
  }
  .left-container .menu {
    font-size: 0.85714rem !important;
    width: auto !important;
  }
  .main-menu {
    font-size: 1rem !important;
  }
  .main-menu span {
    display: none !important;
  }
  .left.pointing.menu {
    font-size: 1.3rem !important;
  }
  .left.pointing.menu .collapsible.item .menu .item {
    font-size: 0.9rem !important;
  }
  .index-nav {
    width: 100% !important;
  }
  .index-nav span {
    display: none !important;
  }
  .ace_editor {
    width: 518px !important;
  }
}

@media only screen and (min-width: 700px) {
  #main-container {
    min-width: 94% !important;
  }
}

@media only screen and (max-width: 700px) {
  .mobile.only:not(table) {
    display: block !important;
  }
  table.mobile.only {
    display: table !important;
  }
  .tablet.only {
    display: none !important;
  }
  .computer.only {
    display: none !important;
  }
  h4.mobile.clear-left {
    clear: left !important;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
  .tablet.only:not(table) {
    display: block !important;
  }
  table.tablet.only {
    display: table !important;
  }
  .mobile.only {
    display: none !important;
  }
  .computer.only {
    display: none !important;
  }
}

@media only screen and (min-width: 1100px) {
  .computer.only:not(table) {
    display: block !important;
  }
  table.computer.only {
    display: table !important;
  }
  .mobile.only {
    display: none !important;
  }
  .tablet.only {
    display: none !important;
  }
  .ui.two.cards .card {
    width: calc(33.33333333% - 2em);
  }
}

@media only screen and (min-width: 700px) {
  .computer.only.tablet.only:not(table) {
    display: block !important;
  }
  table.computer.only.tablet.only {
    display: table !important;
  }
}

.ui.sidebar.display-purposes {
  position: relative;
}

.architecture-block.active {
  border: 1px solid #56b4ef;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.architecture-block:hover {
  border: 1px solid #56b4ef;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.text-color-red {
  color: red !important;
}

.border-color-red {
  border: 1px solid red !important;
}

.border-color-red-1 {
  border: 1px solid red !important;
}

.border-color-red-2 {
  border: 2px solid red !important;
}

.border-color-red-3 {
  border: 3px solid red !important;
}

.border-color-red-4 {
  border: 4px solid red !important;
}

.border-color-red-5 {
  border: 5px solid red !important;
}

.text-color-orange {
  color: orange !important;
}

.border-color-orange {
  border: 1px solid orange !important;
}

.border-color-orange-1 {
  border: 1px solid orange !important;
}

.border-color-orange-2 {
  border: 2px solid orange !important;
}

.border-color-orange-3 {
  border: 3px solid orange !important;
}

.border-color-orange-4 {
  border: 4px solid orange !important;
}

.border-color-orange-5 {
  border: 5px solid orange !important;
}

.text-color-yellow {
  color: yellow !important;
}

.border-color-yellow {
  border: 1px solid yellow !important;
}

.border-color-yellow-1 {
  border: 1px solid yellow !important;
}

.border-color-yellow-2 {
  border: 2px solid yellow !important;
}

.border-color-yellow-3 {
  border: 3px solid yellow !important;
}

.border-color-yellow-4 {
  border: 4px solid yellow !important;
}

.border-color-yellow-5 {
  border: 5px solid yellow !important;
}

.text-color-olive {
  color: olive !important;
}

.border-color-olive {
  border: 1px solid olive !important;
}

.border-color-olive-1 {
  border: 1px solid olive !important;
}

.border-color-olive-2 {
  border: 2px solid olive !important;
}

.border-color-olive-3 {
  border: 3px solid olive !important;
}

.border-color-olive-4 {
  border: 4px solid olive !important;
}

.border-color-olive-5 {
  border: 5px solid olive !important;
}

.text-color-green {
  color: green !important;
}

.border-color-green {
  border: 1px solid green !important;
}

.border-color-green-1 {
  border: 1px solid green !important;
}

.border-color-green-2 {
  border: 2px solid green !important;
}

.border-color-green-3 {
  border: 3px solid green !important;
}

.border-color-green-4 {
  border: 4px solid green !important;
}

.border-color-green-5 {
  border: 5px solid green !important;
}

.text-color-teal {
  color: teal !important;
}

.border-color-teal {
  border: 1px solid teal !important;
}

.border-color-teal-1 {
  border: 1px solid teal !important;
}

.border-color-teal-2 {
  border: 2px solid teal !important;
}

.border-color-teal-3 {
  border: 3px solid teal !important;
}

.border-color-teal-4 {
  border: 4px solid teal !important;
}

.border-color-teal-5 {
  border: 5px solid teal !important;
}

.text-color-blue {
  color: blue !important;
}

.border-color-blue {
  border: 1px solid blue !important;
}

.border-color-blue-1 {
  border: 1px solid blue !important;
}

.border-color-blue-2 {
  border: 2px solid blue !important;
}

.border-color-blue-3 {
  border: 3px solid blue !important;
}

.border-color-blue-4 {
  border: 4px solid blue !important;
}

.border-color-blue-5 {
  border: 5px solid blue !important;
}

.text-color-violet {
  color: violet !important;
}

.border-color-violet {
  border: 1px solid violet !important;
}

.border-color-violet-1 {
  border: 1px solid violet !important;
}

.border-color-violet-2 {
  border: 2px solid violet !important;
}

.border-color-violet-3 {
  border: 3px solid violet !important;
}

.border-color-violet-4 {
  border: 4px solid violet !important;
}

.border-color-violet-5 {
  border: 5px solid violet !important;
}

.text-color-purple {
  color: purple !important;
}

.border-color-purple {
  border: 1px solid purple !important;
}

.border-color-purple-1 {
  border: 1px solid purple !important;
}

.border-color-purple-2 {
  border: 2px solid purple !important;
}

.border-color-purple-3 {
  border: 3px solid purple !important;
}

.border-color-purple-4 {
  border: 4px solid purple !important;
}

.border-color-purple-5 {
  border: 5px solid purple !important;
}

.text-color-pink {
  color: pink !important;
}

.border-color-pink {
  border: 1px solid pink !important;
}

.border-color-pink-1 {
  border: 1px solid pink !important;
}

.border-color-pink-2 {
  border: 2px solid pink !important;
}

.border-color-pink-3 {
  border: 3px solid pink !important;
}

.border-color-pink-4 {
  border: 4px solid pink !important;
}

.border-color-pink-5 {
  border: 5px solid pink !important;
}

.text-color-brown {
  color: brown !important;
}

.border-color-brown {
  border: 1px solid brown !important;
}

.border-color-brown-1 {
  border: 1px solid brown !important;
}

.border-color-brown-2 {
  border: 2px solid brown !important;
}

.border-color-brown-3 {
  border: 3px solid brown !important;
}

.border-color-brown-4 {
  border: 4px solid brown !important;
}

.border-color-brown-5 {
  border: 5px solid brown !important;
}

.text-color-grey {
  color: grey !important;
}

.border-color-grey {
  border: 1px solid grey !important;
}

.border-color-grey-1 {
  border: 1px solid grey !important;
}

.border-color-grey-2 {
  border: 2px solid grey !important;
}

.border-color-grey-3 {
  border: 3px solid grey !important;
}

.border-color-grey-4 {
  border: 4px solid grey !important;
}

.border-color-grey-5 {
  border: 5px solid grey !important;
}

.text-color-black {
  color: black !important;
}

.border-color-black {
  border: 1px solid black !important;
}

.border-color-black-1 {
  border: 1px solid black !important;
}

.border-color-black-2 {
  border: 2px solid black !important;
}

.border-color-black-3 {
  border: 3px solid black !important;
}

.border-color-black-4 {
  border: 4px solid black !important;
}

.border-color-black-5 {
  border: 5px solid black !important;
}

.no-border {
  border: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.margin-1 {
  margin: 1px !important;
}

.margin-left-1 {
  margin-left: 1px !important;
}

.margin-right-1 {
  margin-right: 1px !important;
}

.margin-top-1 {
  margin-top: 1px !important;
}

.margin-bottom-1 {
  margin-bottom: 1px !important;
}

.padding-1 {
  padding: 1px !important;
}

.padding-left-1 {
  padding-left: 1px !important;
}

.padding-right-1 {
  padding-right: 1px !important;
}

.padding-top-1 {
  padding-top: 1px !important;
}

.padding-bottom-1 {
  padding-bottom: 1px !important;
}

.margin-2 {
  margin: 2px !important;
}

.margin-left-2 {
  margin-left: 2px !important;
}

.margin-right-2 {
  margin-right: 2px !important;
}

.margin-top-2 {
  margin-top: 2px !important;
}

.margin-bottom-2 {
  margin-bottom: 2px !important;
}

.padding-2 {
  padding: 2px !important;
}

.padding-left-2 {
  padding-left: 2px !important;
}

.padding-right-2 {
  padding-right: 2px !important;
}

.padding-top-2 {
  padding-top: 2px !important;
}

.padding-bottom-2 {
  padding-bottom: 2px !important;
}

.margin-3 {
  margin: 3px !important;
}

.margin-left-3 {
  margin-left: 3px !important;
}

.margin-right-3 {
  margin-right: 3px !important;
}

.margin-top-3 {
  margin-top: 3px !important;
}

.margin-bottom-3 {
  margin-bottom: 3px !important;
}

.padding-3 {
  padding: 3px !important;
}

.padding-left-3 {
  padding-left: 3px !important;
}

.padding-right-3 {
  padding-right: 3px !important;
}

.padding-top-3 {
  padding-top: 3px !important;
}

.padding-bottom-3 {
  padding-bottom: 3px !important;
}

.margin-4 {
  margin: 4px !important;
}

.margin-left-4 {
  margin-left: 4px !important;
}

.margin-right-4 {
  margin-right: 4px !important;
}

.margin-top-4 {
  margin-top: 4px !important;
}

.margin-bottom-4 {
  margin-bottom: 4px !important;
}

.padding-4 {
  padding: 4px !important;
}

.padding-left-4 {
  padding-left: 4px !important;
}

.padding-right-4 {
  padding-right: 4px !important;
}

.padding-top-4 {
  padding-top: 4px !important;
}

.padding-bottom-4 {
  padding-bottom: 4px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.margin-6 {
  margin: 6px !important;
}

.margin-left-6 {
  margin-left: 6px !important;
}

.margin-right-6 {
  margin-right: 6px !important;
}

.margin-top-6 {
  margin-top: 6px !important;
}

.margin-bottom-6 {
  margin-bottom: 6px !important;
}

.padding-6 {
  padding: 6px !important;
}

.padding-left-6 {
  padding-left: 6px !important;
}

.padding-right-6 {
  padding-right: 6px !important;
}

.padding-top-6 {
  padding-top: 6px !important;
}

.padding-bottom-6 {
  padding-bottom: 6px !important;
}

.margin-7 {
  margin: 7px !important;
}

.margin-left-7 {
  margin-left: 7px !important;
}

.margin-right-7 {
  margin-right: 7px !important;
}

.margin-top-7 {
  margin-top: 7px !important;
}

.margin-bottom-7 {
  margin-bottom: 7px !important;
}

.padding-7 {
  padding: 7px !important;
}

.padding-left-7 {
  padding-left: 7px !important;
}

.padding-right-7 {
  padding-right: 7px !important;
}

.padding-top-7 {
  padding-top: 7px !important;
}

.padding-bottom-7 {
  padding-bottom: 7px !important;
}

.margin-8 {
  margin: 8px !important;
}

.margin-left-8 {
  margin-left: 8px !important;
}

.margin-right-8 {
  margin-right: 8px !important;
}

.margin-top-8 {
  margin-top: 8px !important;
}

.margin-bottom-8 {
  margin-bottom: 8px !important;
}

.padding-8 {
  padding: 8px !important;
}

.padding-left-8 {
  padding-left: 8px !important;
}

.padding-right-8 {
  padding-right: 8px !important;
}

.padding-top-8 {
  padding-top: 8px !important;
}

.padding-bottom-8 {
  padding-bottom: 8px !important;
}

.margin-9 {
  margin: 9px !important;
}

.margin-left-9 {
  margin-left: 9px !important;
}

.margin-right-9 {
  margin-right: 9px !important;
}

.margin-top-9 {
  margin-top: 9px !important;
}

.margin-bottom-9 {
  margin-bottom: 9px !important;
}

.padding-9 {
  padding: 9px !important;
}

.padding-left-9 {
  padding-left: 9px !important;
}

.padding-right-9 {
  padding-right: 9px !important;
}

.padding-top-9 {
  padding-top: 9px !important;
}

.padding-bottom-9 {
  padding-bottom: 9px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.margin-11 {
  margin: 11px !important;
}

.margin-left-11 {
  margin-left: 11px !important;
}

.margin-right-11 {
  margin-right: 11px !important;
}

.margin-top-11 {
  margin-top: 11px !important;
}

.margin-bottom-11 {
  margin-bottom: 11px !important;
}

.padding-11 {
  padding: 11px !important;
}

.padding-left-11 {
  padding-left: 11px !important;
}

.padding-right-11 {
  padding-right: 11px !important;
}

.padding-top-11 {
  padding-top: 11px !important;
}

.padding-bottom-11 {
  padding-bottom: 11px !important;
}

.margin-12 {
  margin: 12px !important;
}

.margin-left-12 {
  margin-left: 12px !important;
}

.margin-right-12 {
  margin-right: 12px !important;
}

.margin-top-12 {
  margin-top: 12px !important;
}

.margin-bottom-12 {
  margin-bottom: 12px !important;
}

.padding-12 {
  padding: 12px !important;
}

.padding-left-12 {
  padding-left: 12px !important;
}

.padding-right-12 {
  padding-right: 12px !important;
}

.padding-top-12 {
  padding-top: 12px !important;
}

.padding-bottom-12 {
  padding-bottom: 12px !important;
}

.margin-13 {
  margin: 13px !important;
}

.margin-left-13 {
  margin-left: 13px !important;
}

.margin-right-13 {
  margin-right: 13px !important;
}

.margin-top-13 {
  margin-top: 13px !important;
}

.margin-bottom-13 {
  margin-bottom: 13px !important;
}

.padding-13 {
  padding: 13px !important;
}

.padding-left-13 {
  padding-left: 13px !important;
}

.padding-right-13 {
  padding-right: 13px !important;
}

.padding-top-13 {
  padding-top: 13px !important;
}

.padding-bottom-13 {
  padding-bottom: 13px !important;
}

.margin-14 {
  margin: 14px !important;
}

.margin-left-14 {
  margin-left: 14px !important;
}

.margin-right-14 {
  margin-right: 14px !important;
}

.margin-top-14 {
  margin-top: 14px !important;
}

.margin-bottom-14 {
  margin-bottom: 14px !important;
}

.padding-14 {
  padding: 14px !important;
}

.padding-left-14 {
  padding-left: 14px !important;
}

.padding-right-14 {
  padding-right: 14px !important;
}

.padding-top-14 {
  padding-top: 14px !important;
}

.padding-bottom-14 {
  padding-bottom: 14px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.margin-16 {
  margin: 16px !important;
}

.margin-left-16 {
  margin-left: 16px !important;
}

.margin-right-16 {
  margin-right: 16px !important;
}

.margin-top-16 {
  margin-top: 16px !important;
}

.margin-bottom-16 {
  margin-bottom: 16px !important;
}

.padding-16 {
  padding: 16px !important;
}

.padding-left-16 {
  padding-left: 16px !important;
}

.padding-right-16 {
  padding-right: 16px !important;
}

.padding-top-16 {
  padding-top: 16px !important;
}

.padding-bottom-16 {
  padding-bottom: 16px !important;
}

.margin-17 {
  margin: 17px !important;
}

.margin-left-17 {
  margin-left: 17px !important;
}

.margin-right-17 {
  margin-right: 17px !important;
}

.margin-top-17 {
  margin-top: 17px !important;
}

.margin-bottom-17 {
  margin-bottom: 17px !important;
}

.padding-17 {
  padding: 17px !important;
}

.padding-left-17 {
  padding-left: 17px !important;
}

.padding-right-17 {
  padding-right: 17px !important;
}

.padding-top-17 {
  padding-top: 17px !important;
}

.padding-bottom-17 {
  padding-bottom: 17px !important;
}

.margin-18 {
  margin: 18px !important;
}

.margin-left-18 {
  margin-left: 18px !important;
}

.margin-right-18 {
  margin-right: 18px !important;
}

.margin-top-18 {
  margin-top: 18px !important;
}

.margin-bottom-18 {
  margin-bottom: 18px !important;
}

.padding-18 {
  padding: 18px !important;
}

.padding-left-18 {
  padding-left: 18px !important;
}

.padding-right-18 {
  padding-right: 18px !important;
}

.padding-top-18 {
  padding-top: 18px !important;
}

.padding-bottom-18 {
  padding-bottom: 18px !important;
}

.margin-19 {
  margin: 19px !important;
}

.margin-left-19 {
  margin-left: 19px !important;
}

.margin-right-19 {
  margin-right: 19px !important;
}

.margin-top-19 {
  margin-top: 19px !important;
}

.margin-bottom-19 {
  margin-bottom: 19px !important;
}

.padding-19 {
  padding: 19px !important;
}

.padding-left-19 {
  padding-left: 19px !important;
}

.padding-right-19 {
  padding-right: 19px !important;
}

.padding-top-19 {
  padding-top: 19px !important;
}

.padding-bottom-19 {
  padding-bottom: 19px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.margin-21 {
  margin: 21px !important;
}

.margin-left-21 {
  margin-left: 21px !important;
}

.margin-right-21 {
  margin-right: 21px !important;
}

.margin-top-21 {
  margin-top: 21px !important;
}

.margin-bottom-21 {
  margin-bottom: 21px !important;
}

.padding-21 {
  padding: 21px !important;
}

.padding-left-21 {
  padding-left: 21px !important;
}

.padding-right-21 {
  padding-right: 21px !important;
}

.padding-top-21 {
  padding-top: 21px !important;
}

.padding-bottom-21 {
  padding-bottom: 21px !important;
}

.margin-22 {
  margin: 22px !important;
}

.margin-left-22 {
  margin-left: 22px !important;
}

.margin-right-22 {
  margin-right: 22px !important;
}

.margin-top-22 {
  margin-top: 22px !important;
}

.margin-bottom-22 {
  margin-bottom: 22px !important;
}

.padding-22 {
  padding: 22px !important;
}

.padding-left-22 {
  padding-left: 22px !important;
}

.padding-right-22 {
  padding-right: 22px !important;
}

.padding-top-22 {
  padding-top: 22px !important;
}

.padding-bottom-22 {
  padding-bottom: 22px !important;
}

.margin-23 {
  margin: 23px !important;
}

.margin-left-23 {
  margin-left: 23px !important;
}

.margin-right-23 {
  margin-right: 23px !important;
}

.margin-top-23 {
  margin-top: 23px !important;
}

.margin-bottom-23 {
  margin-bottom: 23px !important;
}

.padding-23 {
  padding: 23px !important;
}

.padding-left-23 {
  padding-left: 23px !important;
}

.padding-right-23 {
  padding-right: 23px !important;
}

.padding-top-23 {
  padding-top: 23px !important;
}

.padding-bottom-23 {
  padding-bottom: 23px !important;
}

.margin-24 {
  margin: 24px !important;
}

.margin-left-24 {
  margin-left: 24px !important;
}

.margin-right-24 {
  margin-right: 24px !important;
}

.margin-top-24 {
  margin-top: 24px !important;
}

.margin-bottom-24 {
  margin-bottom: 24px !important;
}

.padding-24 {
  padding: 24px !important;
}

.padding-left-24 {
  padding-left: 24px !important;
}

.padding-right-24 {
  padding-right: 24px !important;
}

.padding-top-24 {
  padding-top: 24px !important;
}

.padding-bottom-24 {
  padding-bottom: 24px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.ui.cms.dropdown {
  text-align: left;
  display: inline;
  list-style: none;
}

.ui.cms.dropdown:not(:last-child) {
  margin-right: 7px;
}

.ui.cms.dropdown .text {
  font-weight: bold;
  margin-right: -10px !important;
  display: inline-block;
  transition: none;
}

.ui.cms.dropdown .text:hover .menu {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.ui.cms.dropdown .menu .item {
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.ui.cms.dropdown .menu .item.active {
  font-weight: bold;
}

.ui.cms.dropdown .menu .item:not(.active) {
  font-weight: normal;
}

.ui.cms.dropdown .menu .item:hover {
  background: #ddd;
}

.ui.cms.dropdown .menu {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

.ui.cms.dropdown .menu.active {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.ui.cms.dropdown .menu .item .ui.cms.dropdown .menu .item {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

.font-color-white {
  color: #fff !important;
}

.spinner-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #000;
  opacity: 0.2;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  position: fixed;
  top: 35%;
  left: 50%;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.da-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-toolbar {
  margin-left: -5px;
}

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: left;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-left: 5px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group > .btn-group {
  float: left;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-group.open .dropdown-toggle.btn-link {
  box-shadow: none;
}

.btn .caret {
  margin-left: 0;
}

.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}

.dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}

.btn-group-vertical > .btn-group > .btn {
  float: none;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  display: table-cell;
  float: none;
  width: 1%;
}

.btn-group-justified > .btn-group .btn {
  width: 100%;
}

.btn-group-justified > .btn-group .dropdown-menu {
  left: auto;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}

.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}

.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}

.list-group + .panel-footer {
  border-top-width: 0;
}

.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}

.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}

.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}

.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ddd;
}

.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}

.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}

.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}

.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}

.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}

.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}

.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}

.panel-group {
  margin-bottom: 20px;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}

.panel-group .panel + .panel {
  margin-top: 5px;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}

.panel-group .panel-footer {
  border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}

.panel-default {
  border-color: #ddd;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}

.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.panel-primary {
  border-color: #337ab7;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}

.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}

.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}

.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}

.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}

.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}

.panel-warning {
  border-color: #faebcc;
}

.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}

.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}

.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}

.panel-danger {
  border-color: #ebccd1;
}

.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}

.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}

.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/*# sourceMappingURL=../css/main.compiled.css.map */
