.closed {
	float: none;
	line-height: normal;
	margin-top: 15px;
	font-size: 18px;
}
a.icon-white.icon-remove-sign:hover {
	display: none;
}
div[id^="data"] {
	float: left;
	margin-left: 5px;
	margin-top: 2px;
}
#field_data {
	margin-left: -5px;
}