	/* 
	General styles for this example page */
	html{
		height:100%;
	}
	
	#mainContainer{
		
	
	}
	
	#js_menu img{
		border:0px;
	}

	/* End general styles for this example page */
	/* General configuration CSS */
	
	#js_menu ul li ul{
		display:none;	/* Needed to display ok in Opera */
	}
		
	#js_menu{
		visibility:hidden;	
	}
	#js_menu ul{
		margin:0px;	/* No indent */
		padding:0px;	/* No indent */
	}
	#js_menu li{
		list-style-type:none;	/* No bullets */
	}	
	#js_menu a{

		margin:0px;
		padding:0px;
	}
	/* End general configuration CSS */
	
	
	/* Cosmetic */
	
	/***********************************************************************
		CSS - MENU BLOCKS
	 	General rules for all menu blocks (group of sub items) 
	***********************************************************************/
	#js_menu ul{
		border:1px solid #000;
		background-color:#FFF;
		padding:1px;
	}
		
	#js_menu ul.menuBlock1{	/* Menu bar - main menu items */
		border:0px;
		padding:1px;
		border:1px solid #317082;
		background-color:#E2EBED;
		overflow:visible;
	}
	#js_menu ul.menuBlock2{	/* Menu bar - main menu items */
		border:0px;
		padding:1px;
		border:1px solid #555;
	}
	
	/***********************************************************************
		CSS - MENU ITEMS
	 	Here, you could assign rules to the menu items at different depths.
	***********************************************************************/
	/* General rules for all menu items */
	#js_menu a{
		color: #000;
		text-decoration:none;
		padding-left:2px;
		padding-right:2px;
	
	}
	
	/*
	Main menu items 
	*/
	
	#js_menu .currentDepth1{
		padding-left:5px;
		padding-right:5px;
		border:1px solid #E2EBED;
	}
	#js_menu .currentDepth1over{
		padding-left:5px;
		padding-right:5px;
		background-color:#317082;
		border:1px solid #000;
		
		
	}
	#js_menu .currentDepth1 a{
		font-weight:bold;
	}
	#js_menu .currentDepth1over a{	/* Text rules */
		color:#FFF;
		font-weight:bold;
	}
	
	/* Sub menu depth 1 */
	#js_menu .currentDepth2{
		padding-right:2px;
		border:1px solid #FFF;
	}
	#js_menu .currentDepth2over{
		padding-right:2px;
		background-color:#E2EBED;
		border:1px solid #000;
	}	
	#js_menu .currentDepth2over a{	/* Text rules */
		color:#000;
	}	
	/* Sub menu depth 2 */
	#js_menu .currentDepth3{
		padding-right:2px;
		border:1px solid #FFF;
	}
	#js_menu .currentDepth3over{
		padding-right:2px;
		background-color:#EDE3EB;
		border:1px solid #000;
	}
	/* Sub menu depth 3 */
	#js_menu .currentDepth4{
		padding-right:2px;
		border:1px solid #FFF;
	}
	#js_menu .currentDepth4over{
		padding-right:2px;
		background-color:#EBEDE3;
		border:1px solid #000;
	}